---
title: Archive
---

%section.archive
  %h1 Once upon a time...
  - grouped_articles.each do |yearmonth, articles_this_month|
    - month_header = "#{yearmonth.last} #{yearmonth.first}"
    %section
      %h2
        = month_header
      
      %ul
        - articles_this_month.each do |post|
          - if post[:published]
            %li
              = link_to post[:title], post.path
              %time{:pubdate => true, :datetime => "#{post[:created_at]}"}
                = get_pretty_date(post)

