#comments
  = "#{item.comments.length} comments on #{item[:title]}"
  - item.comments.each do | comment |
    %article.comment
      %header
        .vcard
          %span.photo
            = gravatar_image_for_comment(comment)
          %span.fn
            = comment_author_link(comment)
          on 
          %time{:pubdate => true, :datetime => get_pub_datetime(comment)}
            = attribute_to_time(comment[:created_at]).strftime('%B %-d, %Y at %l:%M %P')
          said: 
      %p
        = comment.compiled_content

