#comments
  %p
    = "#{item.comments.length} comments on "
    %em
      = "#{item[:title]}"
  - item.comments.each do | comment |
    %article.comment
      %header
        .vcard
          %span.photo
            = gravatar_image_for_comment(comment)
          %span.fn
            = comment_author_link(comment)
          %time{:pubdate => true, :datetime => pub_datetime(comment)}
            = attribute_to_time(comment[:created_at]).strftime('%B %-d, %Y at %l:%M %P')
      %section.main
        = comment.compiled_content

