!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset =>"utf-8"}
    %title #{@config[:site_title]} - #{@item[:title]}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/screen.css', :media => 'screen,projection'}
    -#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Average+Sans'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/print.css', :media => 'print'}    
    -#%link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/solarized.css', :media => 'screen'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/fc-webicons.css', :media => 'screen'}
    %link{:rel => 'alternate', :type => 'application/rss+xml', :href => "#{ @config[:base_url]}/feed.xml", :title => "#{ @config[:site_title] } - Feed"}
    /[if lt IE 8]
      %link{:href => "/output/stylesheets/ie.css", :media => 'screen, projection', :rel => 'stylesheet', :type => 'text/css'}
    %meta{:name => 'viewport', :content => 'initial-scale=1'}
    %meta{:name => 'twitter:card', :content => 'summary'}
    %meta{:name => 'twitter:creator', :content => "#{ @config[:twitter_username] }"}
    - if @item[:kind] == 'article'
      - twitter_title = "#{ @item[:title] }"
      - twitter_description = "#{ post_summary(@item) }"
      - twitter_url = "#{ @config[:base_url] }#{ @item.path }"
    -else
      - twitter_title = "#{ @config[:site_title] }"
      - twitter_description = "#{ @config[:site_subtitle] }"
      - twitter_url = "#{ @config[:base_url] }"

    %meta{:name => 'twitter:title', :content => "#{twitter_title}" }
    %meta{:name => 'twitter:description', :content => "#{twitter_description}" }
    %meta{:name => 'twitter:url', :content => "#{twitter_url}" }

    - if @item[:image]
      %meta{:name => 'twitter:image', :content => '#{ @config[:base_url] }#{ @item[:image] }'}
    - render '_twitter_card'
    %meta{:name => 'generator', :content => "nanoc #{Nanoc::VERSION}"}
    %script{:type => 'text/javascript', :src => 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}
    %script{:type => "text/javascript", :src => '//code.jquery.com/jquery-1.11.1.min.js'}
    %script{:type => 'text/javascript', :src => '/assets/scripts/webtoolkit.md5.js'}
    %script{:type => 'text/javascript', :src => '/assets/scripts/comments.js'}
    %script{:type => 'text/javascript', :src => '/assets/scripts/modernizr.custom.31918.js'}
    %noscript
      %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/noscript.css', :media => 'screen'}
  %body
    #container
      %header{:role => 'banner'}
        %a{:href => '/'}
          %h1 #{ @config[:site_title] }
          %p #{ @config[:site_subtitle] }
        .inner-header
          %a#sidebar_button.sidebar-button{:href => '#sidebar'}
      %div.inner-content
        %div.nav-container{:role => 'navigation'}
          %nav#nav_about
            %ul
              %li
                = link_to('Archive', '/archive/')
              %li
                = link_to('Teach', '/teach/')
              %li
                = link_to('Learn', '/learn/')
          %nav#nav_social
            %a{:href => "/feed.xml", :class => 'fc-webicon rss small'}
              subscribe
            %a{:href => "https://twitter.com/#{ @config[:twitter_username] }", :class => 'fc-webicon twitter small'}
              @#{ @config[:twitter_username] }
            %a{:href => "https://github.com/#{ @config[:github_username] }", :class => 'fc-webicon github small'}
              #{ @config[:github_username] }
          %nav#recent_posts
            %p Recent Posts
            %ul
              - sorted_articles[0..5].each do |item|
                %li
                  =link_to(item[:title], item)

        %main.main-content{:role => 'main'}
          = find_and_preserve(yield)
      %footer#main-footer
        %nav.main
          %ul
            %li
              = link_to('Archive', '/archive/')
            %li
              = link_to('About', '/about/')
            %li
              = link_to('Teach', '/teach/')
            %li
              = link_to('Learn', '/learn/')
        a dkm production
