!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset =>"utf-8"}
    %title A Brand New nano Site - #{@item[:title]}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/screen.css', :media => 'screen'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/solarized.css', :media => 'screen'}
    %meta{:name => 'generator', :content => "nanoc #{Nanoc::VERSION}"}
  %body
    #main
      = find_and_preserve(yield)
    #sidebar
      %h2 About
      - teach = @items.find { |i| i.identifier == '/teaching/' }
      = link_to teach[:title], teach.path 
      <!--= link_to('Philosophy', teach.rep(:pdf))-->
      %h2 Recent Posts
      - sorted_articles.each do |post|
        - if post[:published]
          %ul= link_to post[:title], post.path
      %h2 Recent Tweets
      %h2 Follow
      %a{:href => '/feed.xml'}
        %img{:src => '/assets/Feed-icon.svg.png'}
      
