- render 'default' do
  %article
    %header
      %h1 #{item[:title]}
      %p
        Published 
        %time{:pubdate => true, :datetime => get_pub_datetime(item)}
          = get_pretty_date(item)
    = find_and_preserve(yield)
    %footer
      .twitter_image_text
        %a{:href => tweet_this_url(item), :target => '_blank'}
          %img{:src => '/assets/twitter-bird-light-bgs.png', :width => '32'}
          Tweet This
        - render 'comments' do
          = yield
        - render 'comment_form' do
          = yield
