- render 'default' do
  %article
    %header
      %h1 #{item[:title]}
      %p
        Published on 
        %time{:pubdate => true, :datetime => "#{item[:created_at]}"}
          = get_pretty_date(item)
    = find_and_preserve(yield)
    %footer
      = link_to('Tweet', 'https://twitter.com/share', :class => 'twitter-share-button', 'data-via'.to_sym => 'hazybluedot') 
      %script 
        :plain
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script', 'twitter-wjs');

